[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking
User=sysuser
Group=sysuser

Environment=JAVA_HOME=/data/java
Environment=CATALINA_PID=/data/tomcat/temp/tomcat.pid
Environment=CATALINA_HOME=/data/tomcat
Environment=CATALINA_BASE=/data/tomcat
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/data/tomcat/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
