[Unit]
Description=kafka Exporter 1.2.0
Documention=https://github.com/danielqsj/kafka_exporter/blob/master/README.md
[Service]
User=kafka
Group=kafka
Type=simple
ExecStart=/data/kafka_exporter/kafka_exporter --kafka.server=127.0.0.1:9092 --kafka.version=2.8.0 --log.level=debug

[Install]
WantedBy=multi-user.target
