[Unit]
Description=rocketmq broker
After=network.target

[Service]
Type=simple
User=rocketmq
Group=rocketmq
ExecStart=/data/rocketmq/bin/mqbroker -c /data/rocketmq/conf/broker.conf 
ExecStop=/data/rocketmq/bin/mqshutdown broker

[Install]
WantedBy=multi-user.target
